# distro-overrides.config
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_TUN=m
CONFIG_VETH=m
CONFIG_USB_TEST=m

CONFIG_USB_SERIAL=m
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_SIMPLE=m
CONFIG_USB_SERIAL_FTDI_SIO=m
CONFIG_USB_SERIAL_PL2303=m

CONFIG_SATA_SIL24=y

# systemd.config
CONFIG_CGROUP_SCHED=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_NAMESPACES=y
CONFIG_USER_NS=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_EXT4_FS_POSIX_ACL=y
